#include <dt-bindings/zmk/mouse.h>

// TAPDANCE
// COMBOS
// MACROS
// MOUSE

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>
        },
        combo_ESCAPE {
            timeout-ms = <200>;
            key-positions = <0 1>;
            bindings = <&kp ESCAPE>;
        },
        combo_TO3 {
            timeout_ms = <200>;
            key-positions = <26 27>;
            bindings = <&kp TO3>;
        },
        combo_TO0{ 
            timeout-ms = <200>;
            key-positions = <BTN1 TD5>;
            bindings = <&kp TO0>;
        },
        combo_GUI { 
            timeout-ms = <200>;
            key-positions = <8 9>;
            bindings = <&kp OSMMOD_LGUI>;
        },
        combo_DEL { 
            timeout-ms = <200>;
            key-positions = <3 12>;
            bindings = <&kp DELETE >;
        },
        combo_ENTER {
            timeout-ms = <200>;
            key-positions = <24 25>;
            bindings = <&kp ENTER>;
        },
        combo_TO3 {
            timeout-ms = <200>;
            key-positions =<12 OSL6>;
            bindings = <&kp TO3>;
        },
        combo_tab {
            timeout-ms = <200>;
            key-positions =<4 5>;
            bindings = <&kp TAB>;
        },
        combo_G {
            timeout-ms = <200>;
            key-positions =<3 7>;
            bindings = <&kp G>;
        },
        combo_B {
            timeout-ms = <200>;
            key-positions =<7 11>;
            bindings = <&kp B>;
        },
        combo_V {
            timeout-ms = <200>;
            key-positions =<2 6>;
            bindings = <&kp V>;
        },
        combo_K {
            timeout-ms = <200>;
            key-positions =<14 18>;
            bindings = <&kp K>;
        },
        combo_J {
            timeout-ms = <200>;
            key-positions =<18 22>;
            bindings = <&kp J>;
        },
        combo_M {
            timeout-ms = <200>;
            key-positions = <15 19>;
            bindings = <&kp M>;
        },
            M
        combo_M0 {
            timeout-ms = <200>;
            key-positions = <20 24>;
            bindings = <&kp M0>;
        },
        combo_M1 {
            timeout-ms = <200>;
            key-positions = <21 25>;
            bindings = <&kp M1>;
        },
        combo_TD4 {
            timeout-ms = <200>;
            key-positions = <17 22>;
            bindings = <&kp TD4>;
        },
        combo_TD14 {
            timeout-ms = <200>;
            key-positions = <16 20>;
            bindings = <&kp TD14>;
        },
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // | q | w | f | p           l | u | y | m
            // | a | w | s | t           n | e | i | o
            // | z | x | c | d           h | k | j | v
	    //             |num|bk   sp|dir

            bindings = <
                &kp Q &kp W &kp F &kp P 
                &kp A &kp R &mt LSHIFT S &mt LCTRL T
                &kp Z &kp X &kp C &kp D
                &mo 1 &kp BSPC
                &kp L &kp U &kp Y &kp SEMI 
                &mt RSHIFT N &mt RCTRL E &mt LALT I &kp O 
                &kp H &kp COMMA &kp DOT &kp FSLH
                &kp SPACE &mo 2 
            >;
        },
        number_layer {
            // -------------------------------------
            // | F5| F6| F7| F8          F1| F2| F3| F4
            // | 5 | 6 | 7 | 8           1 | 2 | 3 | 4
            // |hm |end| ` | {}          [] | k | j | v
	    //             | g | b  0 | 1

            bindings = <
                &kp F7 &kp F8 &kp F &kp F10
                &kp N6 &kp N7 TD(1) &kp N0
                &kp HOME &kp END &kp, GRAVE TD(12)
                &trans &trans
                TD(7) TD(8) TD(9) TD(10)
                &kp N1 TD(0) &kp N4 &kp N5 
                TD(13) &kp SQT &kp SEMI &kp BSLH
                &kp MINUS &kp EQUAL
            >;
        },
        navigation_layer {

            bindings = <
                &kp PSCRN &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP
                &trans &trans &kp LCTRL &kp LSHIFT
                &trans &trans TG(5) TG(9)
                &kp SPACE &kp BSPCE 
                &kp C_AC_BACK TD(3) &kp C_AC_FORWARD TD(2) 
                &trans &kp UP &trans TD(4) 
                &kp LEFT &kp DOWN &kp RIGHT &trans 
                &trans &trans 
            >;
         },
        mouse_layer {

            bindings = <
                &kp Q &kp W &kp E &kp R 
                &kp A &kp S &mt LCTRL D &mt LSHIFT F 
                &kp Z &kp X &kp C &kp V 
                &trans &trans

                &kp C_AC_BACK TD(3) &kp C_AC_BACK TD(2) &trans 
                M0 &kp MS_U M1 &kp WH_U
                &kp MS_L &kp MS_D &kp MS_R &kp WH_D
                &mkp MB1 TD(5)
            >;
        }
    };
 };

 
 

