//NEW
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/**
only macros are 
previous app 
previous tab
altf4

**/

/ {
	combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <200>;
            key-positions =<4 5>;
            bindings = <&kp TAB>;
        };
        combo_GUI { 
            timeout-ms = <200>;
            key-positions = <8 9>;
            bindings = <&kp LGUI>;
        };
        combo_B {
            timeout-ms = <200>;
            key-positions =<3 7>;
            bindings = <&kp B>;
        };
        combo_G {
            timeout-ms = <200>;
            key-positions =<7 11>;
            bindings = <&kp G>;
        };
        combo_V {
            timeout-ms = <200>;
            key-positions =<2 6>;
            bindings = <&kp V>;
        };
        combo_DEL {
            timeout-ms = <200>;
            key-positions =<12 13>;
            bindings = <&kp DELETE>;
        };

		/* combo_TO0{  */
        /*     timeout-ms = <200>; */
        /*     key-positions = <BTN1 TD5>; */
        /*     bindings = <&to 0>; */
        /* }; */
        combo_DEL2 { 
            timeout-ms = <200>;
            key-positions = <3 12>;
            bindings = <&kp DELETE >;
        };
        combo_ENTER {
            timeout-ms = <200>;
            key-positions = <24 25>;
            bindings = <&kp ENTER>;
        };
        combo_K {
            timeout-ms = <200>;
            key-positions =<14 18>;
            bindings = <&kp K>;
        };
        combo_J {
            timeout-ms = <200>;
            key-positions =<18 22>;
            bindings = <&kp J>;
        };
        combo_M {
            timeout-ms = <200>;
            key-positions = <15 19>;
            bindings = <&kp M>;
		};
        combo_TO3 {
            timeout-ms = <200>;
            key-positions = <26 27>;
            bindings = <&to 3>;
        };
	};
};

/ {
	behaviors {
		td_89: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells=<0>;
			tapping-term-ms = <200>;
			bindings = <&kp N9>, <&kp N8>;
		};
		td_cbrk: tap_dance_1 {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells=<0>;
			tapping-term-ms = <200>;
			bindings = <&kp LBRC>, <&kp RBRC>;
		};
	};
};

		/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // | q | w | f | p           l | u | y | m
            // | a | r | s | t           n | e | i | o
            // | z | x | c | d           h | k | j | v
	    //             |num|bk   sp|dir

            bindings = <
                &kp Q &kp W &kp F &kp P 
                &kp A &kp R &mt LSHIFT S &mt LCTRL T
                &kp Z &kp X &kp C &kp D
                &mo 1 &kp BSPC
                &kp L &kp U &kp Y &kp COLON 
                &kp N &kp F &kp I &kp O 
                &kp H &kp COMMA &kp DOT &kp FSLH
                &kp M &kp V 
            >;
        };
			        number_layer {
            // -------------------------------------
            // | F5| F6| F7| F8          F1| F2| F3| F4
            // | 6 | 7 |9,8| 0           1 | 2 | 3 | 4
            // |hm |end| ` | {}          [] | k | j | v
	    //             | g | b  0 | 1

            bindings = <
                &kp F7 &kp F8 &kp F9 &kp F10
                &kp N6 &kp N7 &td_89 &kp N0
                &kp HOME &kp END &kp GRAVE &td_cbrk
                &trans &trans
                 &trans &trans &trans &trans               
                 &trans &trans &trans &trans               
                 &trans &trans &trans &trans               
                 &trans &trans 
            >;
        };
        navigation_layer {

            bindings = <
                &kp PSCRN &kp C_MUTE &trans &kp C_VOL_UP
                &trans &trans &kp LCTRL &kp LSHIFT
                &trans &trans &trans &trans
                &kp SPACE &kp BSPC

				&trans &trans &trans &trans
                &trans &kp UP &trans &trans 
                &kp LEFT &kp DOWN &kp RIGHT &trans 
                &trans &trans 
            >;
         };
        mouse_layer {

            bindings = <
                &kp Q &kp W &kp E &kp R 
                &kp A &kp S &mt LCTRL D &mt LSHIFT F 
                &kp Z &kp X &kp C &kp V 
                &trans &trans

                &kp C_AC_BACK &trans &kp C_AC_BACK &trans 
                &kp M &kp H &kp M &kp U
                &kp M &kp D &kp R &kp D
                &mkp MB1 &kp T
            >;
        };
    };
 };
